# ignore virtual environments
venv/
__pycache__/
mesa/
practice/
*.pdf
apocalypse_sim/remove_add.txt
*.txt
*.csv
*.zip
*.png

# Allow pdfs in experiments folder
!apocalypse_sim/experiments/data/density_and_incubation_grouping.csv
